* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 0.5px red dotted; */
}

body {
    font-family: "Roboto";
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

.nav {
    background-color: #1F2937;
    padding: 8px;
}

.nav .container {
    display: flex;
}

.nav .container .left {
    color: white;
    font-weight: bolder;
}

.nav .container .right {
    margin-left: auto;
}

.right ul {
    display: flex;
    gap: 20px;
}

a {
    color: #b8b8b8;
}

h1 {
    color: white;
}

.hero-text {
    display: flex;
    background-color: #1F2937;
    padding: 30px 0;
    height: 280px;
    align-items: center;
}

.hero-text p {
    color: #b8b8b8;
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 4px 12px;
}

.right .image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5b5b5b;
    width: 400px;
    height: 100%;
}


.hero-text .left {
    margin-right: 10px;
}

.hero-text .left * {
    margin-bottom: 20px;
}