* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 0.5px red dotted; */
}

body {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
}

.right a:hover {
    color: #616161;
}

ul {
    list-style: none;
}

.container {
    display: flex;
    max-width: 950px;
    margin: 0 auto;
}

.nav {
    background-color: #1F2937;
    padding: 8px;
}

.nav .container {
    display: flex;
}

.nav .container .left {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
}

.nav .container .right {
    margin-left: auto;
}

.right ul {
    display: flex;
    gap: 20px;
}

.right a {
    color: #d7d7d7
}

.hero-text .left p,
footer p {
    color: #E5E7EB;
    font-size: 18px;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    ;
    font-weight: 900;
}

.hero-text {
    display: flex;
    padding: 30px 0;
    height: 280px;
    align-items: center;
}

.hero-text .container {
    gap: 20px;
}

.hero-text,
footer {
    background-color: #1F2937;
}

.hero-text p {
    color: #b8b8b8;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 4px 12px;
}

.right .image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5b5b5b;
    width: 400px;
    height: 100%;
}

.hero-text .left {
    margin-right: 10px;
}

.hero-text .left * {
    margin-bottom: 20px;
}

.information .container {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.infos {
    display: flex;
    gap: 15px;
}

.information h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info .box {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    border: 3px solid #3882F6;
    border-radius: 12px;
    margin-bottom: 5px;
}

.info .text {
    text-align: center;
    color: #5b5b5b;
    font-size: 14px;
}

.quote .container {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 24px;
    font-weight: 300;
    padding: 60px 40px;
}

.quote .container :first-child {
    font-style: italic;
}

.quote .container :last-child {
    align-self: flex-end;
    font-weight: bolder;
    font-size: 12px;
}

.sign-up .container {
    display: flex;
    justify-content: center;
    padding: 35px 10px;
}

.sign-up .box {
    background-color: #3882F6;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    color: white;
    gap: 30px;
}

.sign-up button {
    border: 1px solid white;
}

.sign-up .left :first-child {
    font-weight: bolder;
    font-size: 15px;
}

.sign-up .left :last-child {
    font-size: 12px;
}

footer {
    padding: 12px 0;
}

footer p {
    text-align: center;
    font-size: 10px;
}